<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatisticServlet</servlet-name>
    <servlet-class>servlet.StatisticServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticServlet</servlet-name>
    <url-pattern>/StatisticServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUploadServlet</servlet-name>
    <servlet-class>servlet.UserUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUploadServlet</servlet-name>
    <url-pattern>/UserUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Encodingfilter</filter-name>
    <filter-class>filter.Encodingfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Encodingfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>filter.loginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <servlet-name>UserServlet</servlet-name>
    <servlet-name>StatisticServlet</servlet-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-name>UserUploadServlet</servlet-name>
    <servlet-name>UserUpdateServlet</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>TransactionFilter</filter-name>
    <filter-class>filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TransactionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>